global: {}
inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'rc_edgeid', 'service']

receivers:
- name: default-receiver
- name: rafay-webhook
  webhook_configs:
    - url: "https://event.core.{{.Values.global.default_partner_console_domain}}/event/v1/alert/raise"
      http_config:
        tls_config:
          ca_file: "/etc/config/certs/ca.crt"
          cert_file: "/etc/config/certs/client.crt"
          key_file: "/etc/config/certs/client.key"
          server_name: "event.core.{{.Values.global.default_partner_console_domain}}"
          insecure_skip_verify: true
route:
    group_interval: 5m
    group_wait: 10s
    receiver: rafay-webhook
    repeat_interval: 3h
